<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body style="overflow: hidden;">
    <%- include('menu_game/menu_game') %>

    <!-- SECTION SETTINGS -->
    <%- include('settings/settings') %>

    <!-- SECTION CREDITS -->
     <%- include('credits/credits') %>
    
    <!-- WARNING SCREEN -->
    <%- include('warning_screen/warning_screen') %>

    <!-- OFICE SCREEN -->
    <%- include('ofice/ofice') %> 

    <!-- GAME OVER SCREEN -->
    <%- include('game_over/game_over') %>
    
    <!-- JavaScripts -->
    <script src="js/libs/howler.min.js"></script>
    <script src="js/main.js" type="module"></script>
</body>
</html>